.rn_TextInput .rn_HintBox {
    border:1px solid #DBDBDB;
    max-width:200px;
    padding:4px 16px 2px;
    word-wrap:break-word;
}
.rn_TextInput .rn_HintBox.rn_AlwaysVisibleHint {
    max-width:300px;
    opacity:1.0;
    z-index:0;
}